.lugar {
   background-color: #FFF;
  border: 1px solid #CCC;
  border-color: #CCC #999 #999 #CCC;
  margin-bottom: 20px;
  padding: 10px;
}

.lugar h2 {
  border-bottom: 1px dashed #7E9F19;
  margin: 0;
}

.lugar a {
  color: #2C88A7;
  font-weight: bold;
}

.lugar img {
  border: 1px solid #7E9F19;
  float: left;
  margin: 10px 10px 0 0;
  padding: 2px;
  width: 350px;
}

.lugar iframe{
	width: 250px;
	height: auto;
}

.clear {
  clear: both;
}

h1 a {
  text-decoration: none;
}

h1 a:hover {
  background-color: #7E9F19;
  color: #FFF;
}

body{
	 background-image: url(http://4.bp.blogspot.com/-hae1oTWRwvs/Uh90QNPSHSI/AAAAAAAAFoQ/USCM9fcoOCc/s1600/Background-Picture-Html2.jpg);
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana,
    sans-serif;
  line-height: 1.6;
}

.container {
  margin: 0 auto;
  width: 960px;
}

.footer {
  font-size: 12px;
  text-align: center;
}

.sidenote {
  background-color: #FFFBE4;
  border: 1px solid #C9BC8F;
  float: right;
  padding: 10px;
  width: 260px;
}
.sidenote h3 {
  font-size: 14px;
  margin-top: 0;
}
.sidenote ol {
  font-size: 12px;
}

.lugares {
  float: left;
  width: 660px;
}